@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Beiruti:wght@200..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Beiruti", serif;
    height: 100vh;
    background: #f6a2b7;
    padding: 20px;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f6a2b7;
    position: sticky;
    top: 0;
    width: 100%;
}


.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}


.home-icon {
    width: 40px; 
    height: 40px;
    margin-right: 8px;
}

h1 {
    color: white;
}

.about-me-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 7px dotted white;
    margin-bottom: 50px;

}

.about-me-text {
    flex: 1;
    padding-right: 20px;
    color: white;
    font-size: 20px;

}

.about-me-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.tabs-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.525);
    border-radius: 10px 10px 0 0;
}

.tab {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    border: 1px solid rgba(119, 118, 118, 0.5);
    border-radius: 10px 10px 0 0;
    margin-right: 5px;
    text-align: center;
    background: #ffffff89;
    transition: background-color 0.3s, border-color 0.3s;
}

.tab.active {
    background: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #c53c71;
    font-weight: bold;
}

.tab:hover {
    background: rgba(255, 255, 255, 0.7);
}

.tab-content {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.537);
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-content h2 {
    color: rgb(88, 19, 46);
}

.section-item {
    border: 1px soild #c53c71;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.section-header {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    font-size: 20px;
    color:bisque;
    border-radius: 5px;
}

.section-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.section-item.active .section-header {
    background-color: rgb(137, 106, 106);
}